# Excluir formatos de archivo por defecto
*.mp3
*.mp4
*.wav

# Excluir directorios completos
backups/
CanicasBrawl/
Capcut/
character/
images/
Jales/
ligacanicas/
Metricool/
parche huggingface/
Production/
raw production/

# Ignorar todo en Runs y canciones por defecto
Runs/*
canciones/*

# Ignorar carpetas específicas en scripts
scripts/selenium/
scripts/backup/

# Ignorar archivos específicos en scripts
scripts/mp3.py
scripts/muelle.py
scripts/parchar_voces.py
scripts/dual_winner_log.csv
scripts/generate-videos-dual.py
