# Excluir formatos de archivo por defecto
*.mp3
*.mp4
*.wav

# Excluir directorios completos
backups/
canciones/
CanicasBrawl/
Capcut/
character/
images/
Jales/
ligacanicas/
Metricool/
parche huggingface/
Production/
raw production/
Runs/

# Incluir los runs específicos
!/Runs/Run162/
!/Runs/Run163/

# Incluir archivos específicos dentro de Run162 y Run163
/Runs/Run162/*
!/Runs/Run162/*.csv
/Runs/Run163/*
!/Runs/Run163/*.csv

# Incluir las canciones específicas
!/canciones/rosapastel.mp3
!/canciones/ecosdeamor.mp3
